@charset "UTF-8";

/*/////////////////////////////////////////////////
//吹き出しのパターン色々
/////////////////////////////////////////////////*/

.balloon__contener {
  clear: both;
  width: 100%;
  padding: 10px 0;

   &:after {
    content: ".";
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
  }

  figure {
    width: 60px;
    position: absolute;
    padding: 0;
    margin: 0;
    top: 0;
    /* 正方形を用意 */
    img {
      border-radius: 50%;
      width: 60px;
      height: 60px;
      border: solid 1px #dddddd;
    }

    figcaption {
      color: #000000;
      width: 60px;
      position: absolute;
      top: 63px;
      text-align: center;
      font-size: 70%;
      line-height: 100%;
    }

  }

  .balloon__left {
    width: 100%;
    position: relative;
    display: block;
    max-width: 80%;
    clear: both;

    figure {
      left: 0;
    }

    .balloon_thinking {
      margin-left: 100px;
      position: relative;
      padding: 20px;
      border-radius: 10px;
      background-color: #F2EDD0;

        &:before {
        content: "";
        position: absolute;
        left: -38px;
        width: 13px;
        height: 12px;
        top: 10px;
        background: #F2EDD0;
        border-radius: 50%;
      }

      &:after {
        content: "";
        position: absolute;
        left: -24px;
        width: 20px;
        height: 18px;
        top: 13px;
        background: #F2EDD0;
        border-radius: 50%;
      }

    }

    .balloon__text {
      margin-left: 80px;
      position: relative;
      padding: 20px;
      border-radius: 10px;
      background-color: #F2EDD0;

      &::after {
        content: "";
        position: absolute;
        display: block;
        width: 0;
        height: 0;
        left: -10px;
        top: 12px;
        border-right: 15px solid #F2EDD0;
        border-top: 15px solid transparent;
        border-bottom: 15px solid transparent;
      }


    }

  }

  .balloon__right {
    width: 100%;
    position: relative;
    display: block;
    float: right;
    max-width: 80%;
    clear: both;

    figure {
      right: 0;
    }

    .balloon_thinking {
      margin-right: 100px;
      position: relative;
      padding: 20px;
      border-radius: 10px;
      background-color: #eeeeee;

        &:before {
        content: "";
        position: absolute;
        right: -38px;
        width: 13px;
        height: 12px;
        top: 10px;
        background: #eeeeee;
        border-radius: 50%;
      }

      &:after {
        content: "";
        position: absolute;
        right: -24px;
        width: 20px;
        height: 18px;
        top: 13px;
        background: #eeeeee;
        border-radius: 50%;
      }

    }

    .balloon__text {
      margin-right: 80px;
      position: relative;
      padding: 20px;
      border-radius: 10px;
      background-color: #eeeeee;

      &::after {
        content: '';
        position: absolute;
        display: block;
        width: 0;
        height: 0;
        right: -10px;
        top: 12px;
        border-left: 15px solid #eeeeee;
        border-top: 15px solid transparent;
        border-bottom: 15px solid transparent;
      }

    }

  }

  &.bg__purple {

    .balloon_thinking,
    .balloon__text,
    figure img {
     background: #513961;
   }

    .balloon_thinking:before {
     background: #513961;
   }

    .balloon_thinking:after{
     background: #513961;
   }

   .balloon__right .balloon__text:after {
        border-left: 15px solid #513961;
    }

    .balloon__left .balloon__text:after {
      border-right: 15px solid #513961;
   }
  }

  &.bg__pink {
     .balloon_thinking,
     .balloon__text,
     figure img {
      background: #F52F6C;
    }

     .balloon_thinking:before {
      background: #F52F6C;
    }

     .balloon_thinking:after{
      background: #F52F6C;
    }

    .balloon__right .balloon__text:after {
         border-left: 15px solid #F52F6C;
     }

     .balloon__left .balloon__text:after {
       border-right: 15px solid #F52F6C;
    }
  }

  &.bg__green {

    .balloon_thinking,
    .balloon__text,
    figure img {
     background: #11C2BA;
   }

    .balloon_thinking:before {
     background: #11C2BA;
   }

    .balloon_thinking:after{
     background: #11C2BA;
   }

   .balloon__right .balloon__text:after {
        border-left: 15px solid #11C2BA;
    }

    .balloon__left .balloon__text:after {
      border-right: 15px solid #11C2BA;
   }
  }

  &.bg__orenge {

    .balloon_thinking,
    .balloon__text,
    figure img {
     background: #F5594E;
   }

    .balloon_thinking:before {
     background: #F5594E;
   }

    .balloon_thinking:after{
     background: #F5594E;
   }

   .balloon__right .balloon__text:after {
        border-left: 15px solid #F5594E;
    }

    .balloon__left .balloon__text:after {
      border-right: 15px solid #F5594E;
   }

  }

  &.color__purple {
     .balloon_thinking,
     .balloon__text {
      color: #513961;
    }
  }

  &.color__pink {
     .balloon_thinking,
     .balloon__text {
      color: #F52F6C;
    }
  }

  &.color__orenge {
     .balloon_thinking,
     .balloon__text {
      color: #F5594E;
    }
  }

  &.color__green {
     .balloon_thinking,
     .balloon__text {
      color: #11C2BA;
    }
  }

  &.color__white {
     .balloon_thinking,
     .balloon__text {
      color: white;
    }
  }


}


@media only screen and (max-width: 767px){
  .balloon__contener .balloon__left,
  .balloon__contener .balloon__right {
    max-width: 100%;
  }
}
